* {margin:0;
    box-sizing: border-box;
}

.container{
    position: relative;
    background-color: black;
    height: 100vh;
}

img{
    width: 100%;
    object-fit: contain;
    height: 90vh;
}

.slides{
    display: none;
}

.previous , .next{
    cursor: pointer;
    position: absolute;
    top: 40%;
    color: rgb(73, 13, 13);
    padding: 16px;
    font-weight: bold;
    width: auto;
    margin-top: -22px;
    font-size: 50px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    opacity: 0;
   
}

.next{
    right: 0;
    border-radius: 3px 0 0 3px;
}

.previous:hover , .next:hover{
    display: block;
    background-color: rgb(87, 76, 76);
    opacity: 1;
}

.serial {
    color: rgb(34, 17, 109);
    font-size: 30px;
    font-weight: bolder;
    padding: 8px 12px;
    position: absolute;
    top: 5%;
    right: 80%;
}

.title {
    position: absolute;
    bottom: 22px;
    width: 100%;
    padding: 8px 12px;
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
    color: rgb(233, 223, 223);
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: rgb(34, 17, 109);
    padding: 5px 0;
    font-size: 20px;
    font-weight: bold;
}
